.ConteudoCity{
    width: 50%;
    text-align: justify;
    font-size: 10%;
    text-indent: 3rem;
    margin-top: 5%;
}
.textCity{
    font-size: 20px;
}

.carousel2{
    top: 10%;
}
.textdecor{
    color: white;
    text-shadow: 1px 1px 1px #000
}


/* Media query para a classe .ConteudoCity */
@media screen and (max-width: 600px) {
    .ConteudoCity {
      width: 100%;
      font-size: 8%;
      text-indent: 1rem;
    }
  }
  
  /* Media query para a classe .textCity */
  @media screen and (max-width: 600px) {
    .textCity {
      font-size: 16px;
    }
  }
  
  /* Media query para a classe .imagens */
  @media screen and (max-width: 600px) {
    .imagens {
      position:relative;
    width: 100%;
      
    }
  }
  
  /* Media query para a classe .carousel2 */
  @media screen and (max-width: 600px) {
    .carousel2 {
      top: 5%;
    }
  }
  
  /* Media query para a classe .textdecor */
  @media screen and (max-width: 600px) {
    .textdecor {
      color: white;
      text-shadow: none;
    }
  }
  .imagens{
    justify-content: center;
    align-items:center;
    margin: 0;
    padding: 0;
    margin-top: 2%;
  }
  .textTitle {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-top: 2%;
  
}

.textCity {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

.highlight {
  color: #ff6b6b;
  font-weight: bold;
}
.cardImage{
    font-size: 40px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: aliceblue;
    background-color: #666;
    text-align: center;
    font-family:sans-serif;
    
  
}
.Apresentation{
  text-indent: 2rem;
  /* margin-left: 5%; */
}
@media screen and (max-width: 600px) {
  .cardImage {
    width: 100%;
    font-size: 100%;
    
  }
}

.Aspas{
  width: 150px;
  position: absolute;
 left: 0;

}
@media screen and (max-width: 600px) {
  .Aspas {
    width: 23%;
    left: -4%;

  }
}
.imagemM{
  position: relative;
  margin-top: 5%;
  left: 50px;
  
  
}
@media screen and (max-width: 600px) {
  .imagemM{
  margin-bottom: 2%;
  left: 0;
  width: 380px;
    
  }  
}
@media screen and (max-width: 600px) {
  .mapAm{
    position: absolute;
    width: 360px;
    height: 400px;
    left: 0;
    margin-bottom: 5%;
  }
}