@media screen and (max-width: 600px) {
    .mapAm{
      position: absolute;
      width: 100%;
      height: 400px;
      justify-content: center;
      display: flex;
      margin-bottom: 5%;
      margin-top: 2%;
    }
  }