@media screen and (max-width: 600px) {
    .textogrid{
      font-size: 25px;
      width: 100%;
    }
    .fontText{
      font-size: 80px;
    }
    .carddino{
      max-width: 90px;
    }
    .cards{
      border-radius:2% ;
    }
}
.alinharButton{
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
.fontText{
  font-size: 150px;
}
.cardTitle{
  display: flex;
  justify-content: center;
  
}
