@media screen and (max-width: 600px) {
    .textogrid{
      font-size: 25px;
      width: 100%;
    }
    .fontText{
      font-size: 80px;
    }

    .cards{
      border-radius:2%; 
    }
    .grid{
      border-radius: 2%;
      justify-content: center;
      
    }
    .card-img{
      max-width: 70%;
      justify-content: center;
      margin: auto;
    }
   
}
.alinharButton{
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-bottom: 5%;
}
.fontText{
  font-size: 150px;
}
.cardTitle{
  display: flex;
  justify-content: center;
}
.card-img{
  display: flex;
  justify-content: center;
  width: 5rem;
  margin: auto;

  margin-top: 8%;
}


