.instagram {
  width: 90%;
  margin: 0;
  padding: 0;
}
.imgIgreja {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 20%;
  }
.imgMatriz{
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 15%; 
}
@media screen and (max-width: 600px) {
  .imgIgreja  {
  position:relative;
  width: 100%;
    
  }
  .imgMatriz{
    position:relative;
    width: 100%;
  }
  .imgMatriz2{
    position:relative;
    width: 100%;
  }
}
.imgMatriz2{
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 5%; 
}
.textTitle2{
  margin-top: 10%;
}
.textTitle {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-top: 2%;
}
.mapIgrejas {
  margin-top: 5%;
}
.instaName{
  margin-left: -3%;
  

}

@media screen and (max-width: 600px) {
  .mapIgrejas {
    margin-top: 5%;
    width: 100%;
    height: 400px;
    justify-content: center;
  }
  .instagram {
    width: 30px;
  }
  .instaName{
    margin-left: -30px!important;
    
  }
}
