.instagram {
  width: 90%;
  margin: 0;
  padding: 0;
}
.imagens {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 2%;
}
.textTitle {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-top: 2%;
}
.mapIgrejas {
  margin-top: 15%;
}
@media screen and (max-width: 600px) {
  .mapIgrejas {
    width: 100%;
    height: 400px;
    justify-content: center;
  }
  .instagram {
    width: 40px;
  }
  .instaName{
    margin-left: -30px!important;
  }
}
.instaName{
  margin-left: -3%;
}
