.ConteudoCity{
    width: 50%;
    text-align: justify;
    font-size: 10%;
    text-indent: 3rem;
    margin-top: 5%;
}

.textCity {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
  }
  .imagensSG{
    position: relative;
    margin-top: 15%;

    
    
  }
  @media screen and (max-width: 600px) {
    .imagensSG{
    width:100%;
      
    } 
    .textTitle{
        text-align:justify;
        margin: 0;
        font-size:25px;
        margin-bottom: 5%;
    } 
  }
@media screen and (max-width: 600px) {
    .ConteudoCity {
      width: 100%;
      font-size: 8%;
      text-indent: 1rem;
    }
  }
  
  /* Media query para a classe .textCity */
  @media screen and (max-width: 600px) {
    .textCity {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .imagens {
      position:relative;
    width: 100%;
      
    }
  }
  @media screen and (max-width: 600px) {
    .mapSG{
        width: 100%;
        height: 400px;
        margin-top: 2%;
      
    }
  }
  .mapSG{
    margin-top: 10%;
    margin-bottom: 2%;
  }
 