
.background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 92.8vh;
    position: relative;
}
.textogrid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.session2{
    display: flex;
    gap: 2rem;
    background: red;
    max-height: 10%;
}
.fristcarousel{
margin-inline: auto;
max-height: 10%;
width: 100vw;
}
.carousel.item{
    border: 2px solid;
}