.grid {
  position: relative;
  background-color:  #f9bd2f;
  
  
}
.col-lg-7{
  padding: 0!important;
}
.legend{
  margin: 5%;
  text-align: justify;
  font-size:larger;
  text-indent: 3rem;
  
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  

}
@media screen and (max-width: 600px) {
  .background {
    background-image:url("./imagens/fundoMOB.jpeg");
  }
}
.textogrid {
  margin-top: 20%;

  
  
  color: rgb(0, 0, 0);
  border: 1px solid transparent;
  border-radius: 5%;

}

.textogrid1 {
  width: 55%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: verdana;
  text-align: justify;
  font-size: 30px;
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
  text-indent: 3rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid transparent;
}

.buttonone {
  margin-left: auto;
  display: block;
  margin: 2%;
}

.session2 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background: red;
  max-height: 10%;
}



.carousel img {
  border: 2px solid;
  max-height: 30rem !important;
}

.nav {
  text-decoration: none;
}


@media screen and (max-width: 600px) {
  .nav-link{
    font-size: 90%!important;
  }
}